* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px; 
  padding-top: 50px; 
}



header {
  width: 100%;
  height: 698px;
  background-image: url('Assets/Hero-bg.png');
  background-size: cover;
  background-position: center;
  
}

nav h3 {
  color: #4E47FF;
  font-size: 34px;
  font-family: "Raleway", sans-serif;
}

nav button {
  background-color: #4E47FF;
  color: #FFFFFF;
  width: 132px;
  height: 48px;
  border-radius: 10px;
  border: none;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: calc(698px - 100px);
  gap: 30px;
}

.header-content p {
  font-size: 65px;
  font-weight: bold;
  color: #252432;
  max-width: 900px;
}

.button-art {
  background-color: #4E47FF;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  padding: 12px 24px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.action-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 220px;
  margin: 100px 150px;
}

.text {
  font-size: 24px;
  color: #252432;
}
.pic {
  max-width: 403px;
  width: 100%;
  aspect-ratio: 403 / 328; 
  border-radius: 48px;
  overflow: hidden;
}

.pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.text-design {
  color: #252432;
  font-size: 18px;
  margin: 23px 0; /* top and bottom spacing equal */
  line-height: 1.6; /* for readability */
}

main h3{
    font-weight:bold;
    font-size: 42px;
}

.number{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 158px;
}

.joined {
    max-width: 1140px;
    margin: 100px auto;
    background-color: #d2d0ff;
    border-radius: 24px;
    padding: 40px 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.heading {
    font-weight: bold;
    font-size: 38px;
    color: #1f1f1f;
    margin-bottom: 40px;
}

.number {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.users {
    font-weight: bold;
    font-size: 80px;
    color: #4e47ff;
}

.user-description {
    font-size: 18px;
    color: #222;
}
